body {
    background-image: url('pexels-cottonbro-studio-8721318.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;

}

.header {
    background: linear-gradient(100deg, rgba(2, 21, 61, 0.02) 0%, rgba(15, 156, 181, 0.20) 60%), #02153D;
    padding: 25px;
    font-size: 20px;
    box-shadow: 0px 9px 5.3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0px 3px 17px 17px;
    text-align: end;

}

.logo-img {
    width: 60px; 
    height: auto; 
    float: left; 
    margin-right: 100px;
}


.imagem {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
}

@font-face {
    font-family: DS-Digital;
    src: url(DigitalNumbers-Regular.ttf);
}

h1 {
    font-family: Ds-Digital;
    color: #FFF;
    text-shadow: 14px 15px 10.2px rgba(255, 255, 255, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 486px;
    height: 91px;
    padding-left: 150px;
}

a {
    text-decoration: none;
    color: black;
    padding: 15px;
    background-color: #ff184c;
    border-radius: 18px;
}

a:hover {
    background-color: #00E5FF;
    color: white;
    transition: background-color 0.5s;
}

p {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    padding-left: 150px;
}

a[href="login.html"] {
    position: relative;
    right: -150px;
}